{% extends "layouts/gridlay.html" %}

{% block page_content %}
<h1>Code</h1>

{% for code in site.data.codelist %}
  <div class="pub-card">
  <ul class="flex-container">
  <li class="flex-item1">
    {% if code.image %}
    <img src="{{ url_for('static', filename='images/codepic/' + code.image) }}" class="img-fluid" alt="{{ code.title }}" />
    {% endif %}
  </li>
  <li class="flex-item2">
    <div class="pub-title">{{ code.title }}</div>
    <p class="mt-1" style="font-size: 0.9rem;">{{ code.description }}</p>
    <div class="pub-links">
    {% if code.project_url %}<a href="{{ code.project_url }}" target="_blank" class="btn-common">PROJECT</a> {% endif %}
    {% if code.code_url %}<a href="{{ code.code_url }}" target="_blank" class="btn-common">CODE</a> {% endif %}
    </div>
  </li>
  </ul>
  </div>
{% endfor %}
{% endblock %}
