<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.title %}
    <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
  {% else %}
    <title>{{ site.title | escape }}</title>
  {% endif %}
  
  {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate(160) }}">
  {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.permalink }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">

  {% if config.get('ENV') == 'production' %}
    {% include 'includes/analytics.html' %}
  {% endif %}
</head>