{% macro render(publi) %}
<div class="pub-card">
<ul class="flex-container">
<li class="flex-item1">
  {% if publi.image %}
   <img src="{{ url_for('static', filename='images/pubpic/' + publi.image) }}" class="img-fluid" alt="{{ publi.title }}" />
  {% endif %}
</li>
<li class="flex-item2">
  <div class="pub-title">{{ publi.title }}</div>
  <div class="pub-authors">{{ publi.authors }}</div>
  {% if publi.venue %}<div class="pub-venue">{{ publi.venue }}</div>{% endif %}

  <div class="pub-links">
  {% if publi.doi %}<a href="http://dx.doi.org/{{ publi.doi }}" target="_blank" class="btn-common">DOI</a> {% endif %}
  {% if publi.arxiv %}<a href="https://arxiv.org/abs/{{ publi.arxiv }}" target="_blank" class="btn-common">ARXIV</a> {% endif %}
  {% if publi.link %}<a href="{{ publi.link }}" target="_blank" class="btn-common">PAPER</a> {% endif %}
  {% if publi.pdf %}<a href="{{ url_for('static', filename='publications/pdfs/' + publi.pdf) }}" target="_blank" class="btn-bib">PDF</a> {% endif %}
  {% if publi.patent %}<a href="{{ publi.patent }}" target="_blank" class="btn-common">PATENT</a> {% endif %}
  {% if publi.abstract %}<a data-bs-toggle="collapse" href="#{{publi.url}}_abs" class="btn-common btn-collapse-toggle" role="button" aria-expanded="false" aria-controls="{{publi.url}}_abs">ABSTRACT</a>{% endif %}
  {% if publi.code %}<a href="{{ publi.code }}" target="_blank" class="btn-common">CODE</a> {% endif %}
  {% if publi.data %}<a href="{{ publi.data }}" target="_blank" class="btn-common">DATA</a> {% endif %}
  {% if publi.models %}<a href="{{ publi.models }}" target="_blank" class="btn-common">MODELS</a> {% endif %}
  {% if publi.press %}<a data-bs-toggle="collapse" href="#{{publi.url}}_press" class="btn-common btn-collapse-toggle" role="button" aria-expanded="false" aria-controls="{{publi.url}}_press">MEDIA</a>{% endif %}
  </div>

{% if publi.abstract %}
<div class="collapse" id="{{publi.url}}_abs">
  <div class="abstract-box">
    <p>{{publi.abstract | newline_to_br}}</p>
  </div>
</div>
{% endif %}

{% if publi.press %}
<div class="collapse" id="{{publi.url}}_press">
  <div class="abstract-box">
    <ul class="press-list">
    {% for article in publi.press %}
      <li style="list-style-image:url('{{ url_for('static', filename='images/logos/' + article.logo) }}');">
        <a href="{{article.link}}" target="_blank">"{{article.text}}"</a>
        {% if article.author %} &mdash; {{article.author}}{% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

</li>
</ul>
</div>
{% endmacro %}
