<div class="well">
<h4>{{ site.name }}</h4>

{% for member in site.data.pi %}
<div class="row">
  <img src="{{ url_for('static', filename='images/teampic/' + member.photo) }}" class="img-responsive" width="90%" alt="{{ member.name }}" />
  <center><h2>{{ member.name }}</h2>
  <table>
  <tr>
   <td> {% if member.email %}<a href="mailto:{{ member.email }}" target="_blank"><i class="fa fa-envelope-square fa-2x"></i></a> {% endif %} </td>
   <td> {% if member.scholar %} <a href="{{ member.scholar }}" target="_blank"><i class="ai ai-google-scholar-square ai-2x"></i></a> {% endif %} </td>
   <td> {% if member.cv %} <a href="{{ member.cv }}" target="_blank"><i class="ai ai-cv-square ai-2x"></i></a> {% endif %} </td>
   <td> {% if member.github %} <a href="{{ member.github }}" target="_blank"><i class="fa fa-github-square fa-2x"></i></a> {% endif %} </td>
   <td> {% if member.twitter %} <a href="{{ member.twitter }}" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a> {% endif %} </td>
   <td> {% if member.linkedin %} <a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a> {% endif %} </td>
   <td> {% if member.researchgate %} <a href="{{ member.researchgate }}" target="_blank"><i class="ai ai-researchgate-square ai-2x"></i></a> {% endif %} </td>
  </tr>
  </table>
  </center>
  <ul class="sidebar-education">
  {% for i in range(1, member.number_educ + 1) %}
  <li> {{ member['education' ~ i ~ 'short'] }} </li>
  {% endfor %}
  </ul>
</div>

{% endfor %}
</div>
